.s-main {
    height: 700px;
    .owl-carousel, .owl-stage-outer, .owl-stage, .owl-item, img {
        height: 100%;

        .owl-item {
            img {
                object-fit: cover;
            }
        }
        
        .owl-nav {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            display: flex;
            justify-content: space-between;

            .owl-prev, .owl-next {
                height: 50px;
                width: 50px;
                border-radius: 100%;
                background-color: rgba($gray-light, .5);
            }
        }
        .owl-dots {
            position: absolute;
            bottom: 32px;
            left: 50%;
            transform: translateX(-50%);
            width: 56px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .owl-dot {
                border: 1px solid $white;
                height: 8px;
                width: 8px;
                border-radius: 100%;
                background-color: $gray;

                &.active {
                    background-color: $white;
                }
            }
        }
    }
}